@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: black;
  --font-family-primary: "Plus Jakarta Sans", sans-serif;
}

body {
  color: var(--primary-color);
  font-family: var(--font-family-primary);
}
